/* sidebar */
.app-sidebar .main-sidebar-header {
    background-color: #202947;
    border: none;
    border-block-end: 0.09rem solid rgb(91, 91, 91);
    border-inline-end: 0.09rem solid rgb(223, 223, 223);
}

.main-sidebar {
    background-color: #202947;
    font-size: 17px;
}


.app-sidebar .slide {
    margin: 0;
    padding: 0 0.5rem;
}

.main-menu .slide .side-menu__item .side-menu__label {
    color: #c1c1d6;
    background-color: transparent;
    border: none;
}

.main-menu .slide .side-menu__icon {
    color: #c1c1d6;
}

.main-menu .slide .side-menu__angle {
    color: #c1c1d6;
}

.main-menu .slide .side-menu__item {
    color: #c1c1d6;
}

.main-menu .slide .side-menu__item:hover {
    color: #ffffff;
    /* Highlight text on hover */
    background-color: transparent;
}


.main-menu .slide .side-menu__item:hover .side-menu__icon {
    color: #ffffff;

}

.main-menu .slide .side-menu__item:hover .side-menu__label {
    color: #ffffff;

}

.main-menu .slide .slide-menu.child1 .side-menu__item:hover {
    color: #ffffff;

}

.app-sidebar .slide {
    margin: 0;
    padding: 0.2rem 0.5rem;
}